body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/components/resources/paw-bg.jpg');
  background-color: rgba(0,0,0,0.3);
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-orange-fenix{
  color: #ff9121;
}

.bg-menu, .card-header.bg-menu{
  background-color: rgb(255, 245, 108);
}

.App{
  min-height: 100vh;
  position: relative;
  padding-bottom: 7rem;
}